modDesc.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="g_hyphen">
        <xs:restriction base="xs:string">
            <xs:pattern value="-"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="g_float_or_hyphen">
        <xs:union memberTypes="xs:float g_hyphen"/>
    </xs:simpleType>

    <xs:simpleType name="g_vector_float">
        <xs:list itemType="g_float_or_hyphen"/>
    </xs:simpleType>

    <xs:simpleType name="g_string">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="g_l10n_string">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="g_float">
        <xs:restriction base="xs:float"/>
    </xs:simpleType>

    <xs:simpleType name="g_angle">
        <xs:restriction base="xs:float"/>
    </xs:simpleType>

    <xs:simpleType name="g_time">
        <xs:restriction base="xs:float"/>
    </xs:simpleType>

    <xs:simpleType name="g_int">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>

    <xs:simpleType name="g_bool">
        <xs:restriction base="xs:string">
            <xs:pattern value="true|false"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="g_node_index">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="g_node_indices">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="g_vector_2">
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="g_vector_3">
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="g_vector_4">
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+ \S+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="g_vector_n">
        <xs:restriction base="g_vector_float"/>
    </xs:simpleType>

    <xs:simpleType name="g_vector_trans">
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="g_vector_rot">
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="g_vector_rot_2">
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="g_vector_scale">
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="g_color">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:element name="modDesc">
        <xs:complexType>
            <xs:all>
                <xs:element name="author" type="g_string" minOccurs="1"/>
                <xs:element name="contributors" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="contributor" type="g_string" minOccurs="0"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="version" type="g_string" default="1.0.0.0"/>
                <xs:element name="title" minOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="en" type="g_string" minOccurs="1"/>
                            <xs:element name="de" type="g_string" minOccurs="0"/>
                            <xs:element name="jp" type="g_string" minOccurs="0"/>
                            <xs:element name="pl" type="g_string" minOccurs="0"/>
                            <xs:element name="cz" type="g_string" minOccurs="0"/>
                            <xs:element name="fr" type="g_string" minOccurs="0"/>
                            <xs:element name="es" type="g_string" minOccurs="0"/>
                            <xs:element name="ru" type="g_string" minOccurs="0"/>
                            <xs:element name="it" type="g_string" minOccurs="0"/>
                            <xs:element name="pt" type="g_string" minOccurs="0"/>
                            <xs:element name="hu" type="g_string" minOccurs="0"/>
                            <xs:element name="nl" type="g_string" minOccurs="0"/>
                            <xs:element name="cs" type="g_string" minOccurs="0"/>
                            <xs:element name="ct" type="g_string" minOccurs="0"/>
                            <xs:element name="br" type="g_string" minOccurs="0"/>
                            <xs:element name="tr" type="g_string" minOccurs="0"/>
                            <xs:element name="ro" type="g_string" minOccurs="0"/>
                            <xs:element name="kr" type="g_string" minOccurs="0"/>
                            <xs:element name="ea" type="g_string" minOccurs="0"/>
                            <xs:element name="da" type="g_string" minOccurs="0"/>
                            <xs:element name="fi" type="g_string" minOccurs="0"/>
                            <xs:element name="no" type="g_string" minOccurs="0"/>
                            <xs:element name="sv" type="g_string" minOccurs="0"/>
                            <xs:element name="fc" type="g_string" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="description" minOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="en" type="g_string" minOccurs="1"/>
                            <xs:element name="de" type="g_string" minOccurs="0"/>
                            <xs:element name="jp" type="g_string" minOccurs="0"/>
                            <xs:element name="pl" type="g_string" minOccurs="0"/>
                            <xs:element name="cz" type="g_string" minOccurs="0"/>
                            <xs:element name="fr" type="g_string" minOccurs="0"/>
                            <xs:element name="es" type="g_string" minOccurs="0"/>
                            <xs:element name="ru" type="g_string" minOccurs="0"/>
                            <xs:element name="it" type="g_string" minOccurs="0"/>
                            <xs:element name="pt" type="g_string" minOccurs="0"/>
                            <xs:element name="hu" type="g_string" minOccurs="0"/>
                            <xs:element name="nl" type="g_string" minOccurs="0"/>
                            <xs:element name="cs" type="g_string" minOccurs="0"/>
                            <xs:element name="ct" type="g_string" minOccurs="0"/>
                            <xs:element name="br" type="g_string" minOccurs="0"/>
                            <xs:element name="tr" type="g_string" minOccurs="0"/>
                            <xs:element name="ro" type="g_string" minOccurs="0"/>
                            <xs:element name="kr" type="g_string" minOccurs="0"/>
                            <xs:element name="ea" type="g_string" minOccurs="0"/>
                            <xs:element name="da" type="g_string" minOccurs="0"/>
                            <xs:element name="fi" type="g_string" minOccurs="0"/>
                            <xs:element name="no" type="g_string" minOccurs="0"/>
                            <xs:element name="sv" type="g_string" minOccurs="0"/>
                            <xs:element name="fc" type="g_string" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="iconFilename" type="g_string" minOccurs="1"/>
                <xs:element name="multiplayer" minOccurs="1">
                    <xs:complexType>
                        <xs:attribute name="supported" type="g_bool" default="true"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="l10n" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="text" minOccurs="0">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="en" type="g_string" minOccurs="1"/>
                                        <xs:element name="de" type="g_string" minOccurs="1"/>
                                        <xs:element name="jp" type="g_string" minOccurs="0"/>
                                        <xs:element name="pl" type="g_string" minOccurs="0"/>
                                        <xs:element name="cz" type="g_string" minOccurs="0"/>
                                        <xs:element name="fr" type="g_string" minOccurs="0"/>
                                        <xs:element name="es" type="g_string" minOccurs="0"/>
                                        <xs:element name="ru" type="g_string" minOccurs="0"/>
                                        <xs:element name="it" type="g_string" minOccurs="0"/>
                                        <xs:element name="pt" type="g_string" minOccurs="0"/>
                                        <xs:element name="hu" type="g_string" minOccurs="0"/>
                                        <xs:element name="nl" type="g_string" minOccurs="0"/>
                                        <xs:element name="cs" type="g_string" minOccurs="0"/>
                                        <xs:element name="ct" type="g_string" minOccurs="0"/>
                                        <xs:element name="br" type="g_string" minOccurs="0"/>
                                        <xs:element name="tr" type="g_string" minOccurs="0"/>
                                        <xs:element name="ro" type="g_string" minOccurs="0"/>
                                        <xs:element name="kr" type="g_string" minOccurs="0"/>
                                        <xs:element name="ea" type="g_string" minOccurs="0"/>
                                        <xs:element name="da" type="g_string" minOccurs="0"/>
                                        <xs:element name="fi" type="g_string" minOccurs="0"/>
                                        <xs:element name="no" type="g_string" minOccurs="0"/>
                                        <xs:element name="sv" type="g_string" minOccurs="0"/>
                                        <xs:element name="fc" type="g_string" minOccurs="0"/>
                                    </xs:all>
                                    <xs:attribute name="name" type="g_string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="storeItems" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="storeItem" minOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="xmlFilename" type="g_string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="vehicleTypes" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="type" minOccurs="1">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded">
                                        <xs:element name="specialization" minOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="g_string"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:attribute name="name" type="g_string"/>
                                    <xs:attribute name="parent" type="g_string"/>
                                    <xs:attribute name="filename" type="g_string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="brandColors" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="color" minOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="name" type="g_string"/>
                                    <xs:attribute name="value" type="g_vector_4"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="specializations" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="specialization" minOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="name" type="g_string"/>
                                    <xs:attribute name="className" type="g_string"/>
                                    <xs:attribute name="filename" type="g_string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="extraSourceFiles" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="sourceFile" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="filename" type="g_string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dependencies" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="dependency" type="g_string" minOccurs="1"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="jointTypes" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="jointType" minOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="name" type="g_string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="materialHolders" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="materialHolder" minOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="filename" type="g_string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="storePacks" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="storePack" minOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="name" type="g_string"/>
                                    <xs:attribute name="title" type="g_string"/>
                                    <xs:attribute name="image" type="g_string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="connectionHoses" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="connectionHose" minOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="xmlFilename" type="g_string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="bales" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="bale" minOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="filename" type="g_string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="vehicleSchemaOverlays" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="overlay" minOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="name" type="g_string"/>
                                    <xs:attribute name="uvs" type="g_string" default="0px 0px 0px 0px"/>
                                    <xs:attribute name="size" type="g_string" default="26px 20px"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:attribute name="filename" type="g_string"/>
                        <xs:attribute name="imageSize" type="g_vector_2" default="256 256"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="axisIcons" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="icon" minOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="name" type="g_string"/>
                                    <xs:attribute name="filename" type="g_string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:attribute name="filename" type="g_string"/>
                        <xs:attribute name="imageSize" type="g_vector_2"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="actions" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="action" minOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="name" type="g_string"/>
                                    <xs:attribute name="category" type="g_string"/>
                                    <xs:attribute name="axisType" type="g_string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:attribute name="filename" type="g_string"/>
                        <xs:attribute name="imageSize" type="g_vector_2"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="inputBinding" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="actionBinding" minOccurs="1">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded">
                                        <xs:element name="binding" minOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="device" type="g_string"/>
                                                <xs:attribute name="input" type="g_string"/>
                                                <xs:attribute name="inputComponent" type="g_string"/>
                                                <xs:attribute name="axisComponent" type="g_string"/>
                                                <xs:attribute name="index" type="g_int"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:attribute name="action" type="g_string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:attribute name="filename" type="g_string"/>
                        <xs:attribute name="imageSize" type="g_vector_2"/>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute name="descVersion" type="g_int" default="63"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
